<%
  set_meta_tags(
    title: "Conversations",
    description: "Renders the last message of each conversation",
    keywords: "Chat, Messages"
  )
%>

<div class="container max-w-screen-lg my-4">
  <%= render CardComponent.new do |card| %>
    <% card.with_header do %>
      <h1><%= t(".headline") %></h1>
    <% end %>

    <% card.with_list do %>
      <%= render CardListComponent.new(no_items_message: t(".no_conversations")) do |card_list| %>
        <% messages.each do |message| %>
          <%= card_list.with_item do %>
            <%= link_to message_path(message.other_user(current_user)) do %>
              <%= render MessageComponent.new(message: message, user: current_user, index_message: true) %>
            <% end %>
          <% end %>
        <% end %>
      <% end %>
    <% end %>
  <% end %>
</div>
