<%
  set_meta_tags(
    title: "Conversations",
    description: "Renders the last message of each conversation",
    keywords: "Chat, Messages"
  )
%>

<div class="container mt-5">
  <%= render CardComponent.new do |card| %>
    <% card.with_header do %>
      <h1><%= t(".headline") %></h1>
    <% end %>

    <% card.with_list do %>
      <% if messages.present? %>
        <% messages.each do |message| %>
          <li class="list-group-item clearfix m-1">
            <%= link_to message_path(message.other_user(current_user)) do %>
              <%= render MessageComponent.new(message: message, user: current_user, index_message: true) %>
            <% end %>
          </li>
        <% end %>
      <% else %>
        <p><%= t(".no_conversations") %></p>
      <% end %>
    <% end %>
  <% end %>
</div>
