<div class="messages container screen-size my-5"
     style="width: 50%;"
     data-controller="messages"
     data-messages-room-value=<%= room_name %>>
  <%= render CardComponent.new do |card| %>
    <% card.with_header do %>
      <h1>Conversation with <%= receiver.username %></h1>
    <% end %>

    <% card.with_body do %>
      <div>
        <div id="messagesContainer" data-messages-target="container">
          <%= render partial: "messages/message", collection: messages, locals: { user: current_user } %>
        </div>
      </div>
    <% end %>

    <% card.with_footer do %>
      <%= render "messages/form", receiver: receiver %>
    <% end %>
  <% end %>
</div>
