<div class="container screen-size w-50 mt-1"
     data-controller="messages">
  <%= render CardComponent.new do |card| %>
    <% card.with_header do %>
      <h1 class="text-center fs-3 mb-0">Conversation with <%= receiver.username %></h1>
    <% end %>

    <% card.with_body do %>
      <div class="my-2">
        <div id="messages" class="messages" data-messages-target="container">
          <%= render partial: "messages/message", collection: messages, locals: { user: current_user } %>
        </div>
      </div>
    <% end %>

    <% card.with_footer do %>
      <%= render "messages/form", receiver: receiver %>
    <% end %>
  <% end %>
</div>

<%= turbo_stream_from channel %>
