<div class="container row mx-auto my-4">
  <div class="col-12 col-lg-6 mx-auto">
    <%= render CardComponent.new do |card| %>
      <% card.with_header do %>
        <h2 class="text-center mb-0">Sign up</h2>
      <% end %>

      <% card.with_body do %>
        <div class="text-center">
          <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
            <%= render "devise/shared/error_messages", resource: resource %>

            <div class="field text-center mb-3">
              <%= f.label :username %><br />
              <%= f.text_field :username, autofocus: true, class: "underline w-75" %>
            </div>

            <div class="field text-center mb-3">
              <%= f.label :email %><br />
              <%= f.email_field :email, class: "underline w-75" %>
            </div>

            <div class="field text-center mb-3">
              <%= f.label :password %>
              <% if @minimum_password_length %>
                <em><%= t(".password_length", count: @minimum_password_length) %></em>
              <% end %><br />
              <%= f.password_field :password, autocomplete: "new-password", class: "underline w-75" %>
            </div>

            <div class="field text-center mb-3">
              <%= f.label :password_confirmation %><br />
              <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "underline w-75" %>
            </div>

            <div class="actions text-center">
              <%= f.submit t("devise.shared.sign_up"), class: "btn btn-primary w-75 mx-auto" %>
            </div>
          <% end %>

          <%= render "devise/shared/links" %>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
