<%= render CardComponent.new do |card| %>
  <% card.with_header do %>
    <h2 class="text-center mb-0">Description</h2>
  <% end %>

  <% card.with_body do %>
    <div class="text-center">
      <%= f.hidden_field :file_content, "data-models-form-target" => "fileContent" %>

      <div class="field text-center my-3">
        <%= f.label :name %><br />
        <%= f.text_field :name, class: "underline w-75" %>
      </div>

      <div class="field text-center my-3">
        <%= f.label :description %><br />
        <%= f.textarea :description, size: "70x5", class: "bordered w-75 mt-2 p-3" %>
      </div>

      <div class="field text-center my-3">
        <%= f.label :csv_file %><br />
        <%= f.file_field :csv_file, class: "bordered w-75 mt-2 p-3", data: {
          action: "models-form#fileChosen",
        } %>
      </div>

      <div class="field text-center my-3">
        <%= f.label :y_variable %><br />
        <%= f.text_field :y_variable, size: "70x5", class: "bordered w-75 mt-2 p-3" %>
      </div>

      <div class="field text-center my-3">
        <%= f.label :date_column %><br />
        <%= f.text_field :date_column, size: "70x5", class: "bordered w-75 mt-2 p-3" %>
      </div>
    </div>
  <% end %>
<% end %>
