<div class="card">
  <% if header %>
    <div class="card-header">
      <%= header %>
    </div>
  <% end %>
  <% if body %>
    <div class="card-body <%= padding_css_class %>">
      <div class="card-text">
        <%= body %>
      </div>
    </div>
  <% end %>
  <% if list %>
    <%= list %>
  <% end %>
  <% if footer %>
    <div class="card-footer">
      <%= footer %>
    </div>
  <% end %>
</div>
