<%= render CardComponent.new do |card| %>
  <% card.with_header do %>
    <h3><%= t("contacts.index.ai_models.headline") %></h3>
  <% end %>
  <% card.with_list do %>
    <%= render CardListComponent.new(no_items_message: t("contacts.index.ai_models.no_ai_models")) do |card_list| %>
      <% ai_models.each do |contact| %>
        <%= card_list.with_item do %>
          <%= render "contacts/add_contact", contact: contact %>
        <% end %>
      <% end %>
    <% end %>
  <% end %>
<% end %>
