<%= render CardComponent.new do |card| %>
  <% card.with_header do %>
    <h1><%= t("contacts.index.headline") %></h1>
  <% end %>

  <% card.with_list do %>
    <%= render CardListComponent.new(no_items_message: t("contacts.index.look_for_contacts.no_contacts")) do |card_list| %>
      <% contacts.each do |contact| %>
        <%= card_list.with_item do %>
          <%= link_to contact.username, message_path(contact.id) %>
        <% end %>
      <% end %>
    <% end %>
  <% end %>
<% end %>
