<%
  set_meta_tags(
    title: "Contacts",
    description: "Renders the contacts and the AI models to add new contacts",
    keywords: "Contacts, AI models"
  )
%>

<div class="container max-w-screen-lg my-4">
  <div class="row">
    <div class="col-12 col-lg-6">
      <%= render "contacts/contacts", contacts: contacts %>
    </div>
    <div class="col-12 col-lg-6 mt-3 mt-lg-0">
      <%= render CardComponent.new do |card| %>
        <% card.with_header do %>
          <h1><%= "Add contacts" %></h1>
        <% end %>

        <%= card.with_body do %>
          <div class="p-2">
            <%= render "contacts/ai_models", ai_models: ai_models %>
          </div>
          <div class="p-2">
            <%= render "contacts/look_for_contacts" %>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
