<%= render CardComponent.new do |card| %>
  <%= card.with_header do %>
    <h3 class="text-center mb-0"><%= t("pages.index.what_is_this.headline") %></h3>
  <% end %>

  <%= card.with_body do %>
    <p class="p-3"><%= t("pages.index.what_is_this.body") %></p>
  <% end %>
<% end %>
