<nav>
  <div class="container d-flex flex-row justify-content-between align-items-center py-4 w-100">
    <%= link_to root_path, "aria-label" => "index page" do %>
      <%= image_tag "grandline.webp", size: "83x64", class: "rounded", alt: "grandline map" %>
    <% end %>

    <div class="d-flex flex-row align-items-baseline">
      <% if current_user %>
        <%= link_to "Messages", messages_path, class: "ms-5" %>
        <%= link_to "Contacts", contacts_path, class: "ms-5" %>
        <%= button_to 'Sign Out', destroy_user_session_path, method: :delete, class: "btn btn-primary ms-5"%>
      <% else %>
        <%= link_to 'Sign Up', new_user_registration_path, class: "ms-5" %>
        <%= link_to 'Sign In', new_user_session_path, class: "btn btn-primary ms-5" %>
      <% end %>
    </div>
  </div>
</nav>

<%= simple_format(notice, class: "flash-notice") if notice %>
<%= simple_format(alert, class: "flash-alert") if alert %>
